@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Source Serif 4", ui-serif, Georgia, serif;
  --color-primary: theme("colors.sky.600");
  --color-secondary: theme("colors.slate.500");
  --color-ink: theme("colors.stone.800");
  --color-ink-light: theme("colors.stone.500");
  --color-canvas: theme("colors.neutral.100");
  --color-surface: theme("colors.white");
  --color-word-masculine: theme("colors.blue.400");
  --color-word-feminine: theme("colors.pink.400");
  --color-word-neutral: theme("colors.green.400");
  --color-word-action: theme("colors.red.400");
}

html,
body {
  @apply bg-canvas dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme {
  @keyframes appearance {
    from { 
      opacity: 0; 
      transform: scale(0.5); 
    }
    to { 
      opacity: 1; 
      transform: scale(1); 
    }
  }
}

.animate-zoom-in {
  animation: appearance 0.5s ease-out forwards;
}